<main>

  <nav class="navbar navbar-light bg-light d-xl-none d-lg-none d-md-block d-sm-block d-block border-bottom">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/projects.png" width="30" height="30" class="d-inline-block align-top" alt=""
          loading="lazy">
      </a>
    </div>
  </nav>

  <div class="container my-4">
    <div class="alert alert-success p-0" role="alert">
      <div class="container">
        <div class="row">

          <div
            class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-right p-0 d-xl-block d-lg-block d-md-none d-sm-none d-none">
            <img src="./assets/img/projects.png" style="height: 130px;">
          </div>

          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-left my-auto">
            <h5 class="text-center my-xl-auto my-lg-auto my-md-4 my-sm-4 my-4">
              Our environmental projects are providing
              <br>
              many environmental benefits around the world.
            </h5>
          </div>

        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let content of contents">
        <div class="card mb-4">

          <div class="card-img-top h-200-px">
            <div class="position-relative w-100 h-200-px">
              <div class="position-absolute w-100">
                <div class="img-container w-100 pointer h-200-px">
                  <img src="./assets/img/default-content.jpg" alt="...">
                </div>
              </div>

              <div class="position-absolute" style="right: 10px; top: 10px">
                <a href="#" class="btn btn-success">Buy Now</a>
                <div class="p-1 mt-1 text-center" style="background-color: #00000099;color:#fff;">
                  <small class="my-auto font-weight-bold">$7.50 / ton</small>
                </div>
              </div>

              <div class="position-absolute p-2" style="left: 10px; bottom: 10px;background-color: #00000099;color:#fff;">
                <h5 class="my-auto">WOLF CREEK LANDFILL - USA</h5>
              </div>

            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-danger mb-3 pointer">Landfill Methane Gas Capture</h5>
            <h6 class="card-subtitle text-success mb-3">2,0005,214 lbs. offset</h6>

            <p class="card-text">
              Landfill methane gas-to-energy facility that provides significant environmental benefits to the
              surrounding area.
            </p>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>